<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 
		<base href="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}/" />  -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Add presentation</title>
		<style>
			.center {text-align: center;}
			h1   {color: blue;}
			.disabled-input {background: silver;}
		</style>
		
	</head>
	<body>
	
			
	
		<form action="#" th:action="@{/presenter/presentations/create/}" th:object="${presentationSchedule}" method="post">
		<div class="center">
		Logged in:
			<span th:text ="${#authentication.getPrincipal()}"></span> <p>
		
			<!-- <p>Logged in user: 
			<p><span th:text ="*{creatorString}"></span> -->
			<h1>Save presentation-schedule record</h1>
			
			<input type="hidden" th:field="*{id}" id="id">
			
		    <label for="creatorString">Creator</label>
		    <p><input class="disabled-input" type="text" th:field="*{creatorString}" id="creatorString" placeholder="you should not see this placeholder" 
		    readonly>
		    <span th:if="${#fields.hasErrors('creatorString')}" th:errors="*{creatorString}"></span>
		    
		    <p><label for="title">Title</label>
		    <p><input type="text" th:field="*{title}" id="title" placeholder="title">
		    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
		    
		    <p><label for="presentersString">Support presenters</label>
		    <p><input type="text" th:field="*{presentersString}" id="presentersString" placeholder="space separated usernames">
		    <span th:if="${#fields.hasErrors('presentersString')}" th:errors="*{presentersString}"></span>
		    
		    <p><label for="roomString">Room</label>
		    <p><input type="text" th:field="*{roomString}" id="roomString" placeholder="(room name)">
		    <span th:if="${#fields.hasErrors('roomString')}" th:errors="*{roomString}"></span>
		    
		    <p><label for="presentationBegin">Presentation begin</label>
		    <p><input type="text" th:field="*{presentationBegin}" id="presentationBegin" placeholder="dd-MM-yyyy HH:mm">
		    <span th:if="${#fields.hasErrors('presentationBegin')}" th:errors="*{presentationBegin}"></span>
		    
		    <!-- <input type="datetime-local" class="form-control" id="content" th:field="*{agenda.dateAgenda}"/>  -->
		    
		    <!-- <input type="datetime-local" id="meeting-time"
	        name="meeting-time" value="2018-06-12T19:30"
	        min="2018-06-07T00:00" max="2018-06-14T00:00">  -->
		    
		    <p><label for="presentationEnd">Presentation end</label>
		    <p><input type="text" th:field="*{presentationEnd}" id="presentationEnd" placeholder="dd-MM-yyyy HH:mm">
		    <span th:if="${#fields.hasErrors('presentationEnd')}" th:errors="*{presentationEnd}"></span>
		    
		    <p><input type="submit" value="Add presentation-schedule">
		</div>  
		</form>
	</body>
</html>