<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 
		<base href="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}/" />  -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Hello World</title>
	</head>
	<body>
		<h1 th:text="${title}"></h1>
    	<h2 th:text="${message}">My Dummy Data</h2>
    	
    	<div sec:authorize="isAuthenticated()">
    	<div>Logged in as :</div>
    	<span th:text ="${#authentication.getPrincipal()}"></span></div>
    	
    	<div sec:authorize="isAnonymous()">
    	<div>Not logged in</div>
    	</div>
    	
    	<div><a href="signup">Register!</a></div>
    	<div><a href="login">Login!</a></div>
    	
    	
    	
		<div>Get <a href="presenter/presentations/">presentation list</a> resource for presenter. (presenter only)</div>
		
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<div>Get <a href="admin/rooms/">rooms list</a>(admin only)</div>
			<div>Get <a href="admin/users/">user list</a>(admin only)</div>
		</div>
	</body>
</html>