<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- <base href="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}/" /> -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
		<title>K E K</title>
		
		<style>
			.tabsmall {width: 60%; margin-left: auto; margin-right: auto;}
			.center {text-align: center;}
			h1   {color: blue;}
			p    {color: blue;}
		</style>
		
	</head>
	<body>
		<div class="center">Presentation list (read only info)</div>
		<p>
		<p>
		
		<table class="table table-striped table-bordered tabsmall">
			<tr><td>ID</td><td>Name</td></tr>
			<tr th:each="presentation : ${presentations}">
	            <td th:text="${presentation.id}">1</td>
	            <td th:text="${presentation.title}">Name ...</a></td>
	        </tr>

		</table>
		<div class="center">
		<p>Click <a href="/"> here</a>
		to go back to the Homepage.</div>
		
	</body>
</html>