<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- 
		<base href="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}/" />  -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Hello World</title>
		<style>
			.center {text-align: center;}
			h1   {color: blue;}
			.disabled-input {background: silver;}
		</style>
	</head>
	<body>
	
			
	
		<form action="#" th:action="@{/admin/users/update/{username}(username=${user.username})}" th:object="${user}" method="post">
		<div class="center">
			<h1>Update user</h1>
			
		    <label for="username">Username</label>
		    <p><input class="disabled-input" type="text" th:field="*{username}" id="username" placeholder="latin symbols or digits" readonly>
		    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
		    
		    <p><label for="displayingName">Displaying name</label>
		    <p><input type="text" th:field="*{displayingName}" id="displayingName" placeholder="Displaying name">
		    <span th:if="${#fields.hasErrors('displayingName')}" th:errors="*{displayingName}"></span>
		    
		    <p><label for="username">Password (Encoded)</label>
		    <p><input type="text" th:field="*{password}" id="password" placeholder="~ no placeholder ~">
		    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		    
		    <p><label for="role">Role</label>
		    <p><select name="role" >
		    <option th:each="roleOpt : ${T(com.sataev.conferencewebcrud.entity.enumerable.Role).values()}"
		    	th:value="${roleOpt}" 
		    	th:text="${roleOpt}"
		    	th:selected="${roleOpt.equals(user.role)}"
		    	></option>
		    </select>
		    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
		    
		    <p><input type="submit" value="Update User">
		    
		</div>   
		</form>
	</body>
</html>