<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<head>
		<!-- <base href="${pageContext.request.scheme}://${pageContext.request.serverName}:${pageContext.request.serverPort}${pageContext.request.contextPath}/" /> -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- CSS only -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
		<title>User managing panel</title>
		
		<style>
			.tabsmall {width: 60%; margin-left: auto; margin-right: auto;}
			.center {text-align: center;}
			h1   {color: blue;}
			p    {color: blue;
			margin : 0;}
			
			table {
				border-collapse: collapse;
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 90%;
			}
			
		</style>
		
	</head>
	<body>
		<div class="center"><h1>Users</h1><div sec:authorize="hasRole('ROLE_ADMIN')">(editable)</div> <div sec:authorize="!hasRole('ROLE_ADMIN')">(not editable)</div></div>
		<p>
		<p>
		
		<table class="table table-striped table-bordered tabsmall">
			<tr><td>Username</td><td>Displaying Name</td><td>Description</td><div sec:authorize="hasRole('ROLE_ADMIN')"><td>ACTIONS (admin only)</td></div></tr> 
			<tr th:each="users : ${users}">
	            <td th:text="${users.username}">username</td>
	            <td th:text="${users.displayingName}">displaying name</a></td>
	            <td th:text="${users.role}">role</td>
	            <div sec:authorize="hasRole('ROLE_ADMIN')"> 
	            	<td>
	            		<a th:href="@{/admin/users/edit/{username}(username=${users.username})}">Edit</a>
	            		<p>
	            		<div th:if="${!users.username.equals(#authentication.getPrincipal())}">
		            		<a th:href="@{/admin/users/delete/{username}(username=${users.username})}">Delete</a>
	            		</div> 
	            		
	            		<div th:unless="${!users.username.equals(#authentication.getPrincipal())}">
		            		(this is you)
	            		</div>
	            		
	            		<!-- this -->
	            	</td> 
	            </div>
	        </tr>

		</table>
		<div class="center">
		<a href="signup">Register new user</a> (regular "signup" link)
		<p>Click <a href="/"> here</a>
		to go back to the Homepage.</div>
		
	</body>
</html>